﻿@model ToDoList.UI.Models.ToDoTask

@{
    ViewBag.Title = "AddTask";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Task</h2>

@using (Html.BeginForm())
{<div align="center" style="width: 80%">
        <h3>New Task</h3>
        <div class="form-group">
            @Html.LabelFor(t => t.TaskName)
            @Html.TextBoxFor(t => t.TaskName, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(t => t.TaskStatus)
            @Html.TextBoxFor(t => t.TaskDescription, new { @class = "form-control" })
            
        </div>
        <div class="form-group">
            @using (Html.BeginForm("AddTask", "ToDoList", FormMethod.Post))
            {
                <input type="hidden" name="Id" value="t.Id" />
                <input type="hidden" name="TaskName" value="t.TaskName" />
                <input type="hidden" name="TaskDescription" value="t.TaskDescription" />
                <input type="hidden" name="TaskStatus" value="t.TaskStatus" />
                <input type="submit" value="Submit" class="btn btn-success" />

            }
        </div>

    </div>

}