﻿@using ToDoList.UI.Enums
@model ICollection<ToDoList.UI.Models.ToDoTask>
@{
    
    ViewBag.Title = "ToDoList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>To Do List</h2>
<button type="button" class="btn btn-success" onclick="location.href = '@Url.Action("AddTask", "ToDoList")';return false;">Add a Task</button>

@{
    if (Model != null)
    {
        @Html.Partial("_ActiveTasks")

        @Html.Partial("_CompletedTasks")
        
    }
    else
    {
        <p>Sorry there is no items listed currently.</p>
    }
}

