﻿@using ToDoList.UI.Enums
@model ICollection<ToDoList.UI.Models.ToDoTask>


<div align="center">
    <h3>Active Tasks</h3>
    <table style="width: 80%">
        <tr>
            <td>Completed?</td>
            <td>Task Name</td>
            <td>Task Description</td>
            <td>Task Status</td>
            <td>Delete?</td>
        </tr>

        @foreach (var i in Model)
        {

            if (i.TaskStatus == Status.Active)
            {
                <tr>
                    <td>
                        @using (Html.BeginForm("CompleteTask", "ToDoList", FormMethod.Post))
                        {
                            <input type="hidden" name="Id" value="@i.Id"/>
                            <input type="hidden" name="ApplicationUserID" value="@i.ApplicationUserID"/>
                            <input type="hidden" name="TaskName" value="@i.TaskName"/>
                            <input type="hidden" name="TaskDescription" value="@i.TaskDescription"/>
                            <input type="hidden" name="TaskStatus" value="@Status.Completed"/>
                            <input type="submit" value="Complete" class="btn btn-primary"/>
                        }
                    </td>
                    <td>@i.TaskName</td>
                    <td>@i.TaskDescription</td>
                    <td>@i.TaskStatus</td>
                    <td>
                        @using (Html.BeginForm("DeleteTask", "ToDoList", FormMethod.Post))
                        {
                            <input type="hidden" name="Id" value="@i.Id"/>
                            <input type="hidden" name="ApplicationUserID" value="@i.ApplicationUserID"/>
                            <input type="hidden" name="TaskName" value="@i.TaskName"/>
                            <input type="hidden" name="TaskDescription" value="@i.TaskDescription"/>
                            <input type="hidden" name="TaskStatus" value="@Status.Deleted"/>
                            <input type="submit" value="Delete" class="btn btn-danger"/>
                        }
                    </td>

                </tr>
            }

        }
    </table>
    <div align="right" style="padding-right: 115px">
        # of Active Tasks: @Model.Count(t => t.TaskStatus == Status.Active)
    </div>
</div>