﻿@using ToDoList.UI.Enums
@using ToDoList.UI.Models
@model ICollection<ToDoList.UI.Models.ToDoTask>
<div align="center">
    <h3>Completed Tasks</h3>
    <table style="width: 80%">
        <tr>
            <td></td>
            <td>Task Name</td>
            <td>Task Description</td>
            <td>Task Status</td>
            <td>Delete?</td>
        </tr>
        @foreach (var i in Model)
        {
            if (i.TaskStatus == Status.Completed)
            {
                <tr>
                    <td>
                        Completed
                    </td>
                    <td>@i.TaskName</td>
                    <td>@i.TaskDescription</td>
                    <td>@i.TaskStatus</td>
                    <td>
                        @using (Html.BeginForm("DeleteTask", "ToDoList", FormMethod.Post))
                        {
                            <input type="hidden" name="Id" value="@i.Id"/>
                            <input type="hidden" name="ApplicationUserID" value="@i.ApplicationUserID"/>
                            <input type="hidden" name="TaskName" value="@i.TaskName"/>
                            <input type="hidden" name="TaskDescription" value="@i.TaskDescription"/>
                            <input type="hidden" name="TaskStatus" value="@Status.Deleted"/>
                            <input type="submit" value="Delete" class="btn btn-danger"/>
                        }
                    </td>
                </tr>
            }

        }
    </table>
    <div align="right" style="padding: 30px; padding-right: 115px">
        @using (Html.BeginForm("DeleteAllCompleted", "ToDoList", FormMethod.Post))
        {

            <input type="submit" value="Delete All Completed" class="btn btn-danger" />
        }
        
    </div>
</div>